{% extends "core/base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
        </div>

        <div class="col-md-6 d-flex flex-column">
            <h2 class="mb-3">{{ product.name }}</h2>
            <p class="text-muted">{{ product.description }}</p>
            
            <h4 class="text my-3"><strong>{{ product.price }} $</strong></h4>

            <!-- Форма для додавання у кошик -->
            
            <div class="mt-4">
                <p><strong>Category:</strong>
                    <a href="{{ product.category.get_absolute_url }}" class="text-dark">{{ product.category.name }}</a>
                </p>
                <p><strong>Availability:</strong> {% if product.available %}In stock{% else %}Out of stock{% endif %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
